.cardWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    gap: 10px;
  
    h2 {
      width: 100%;
    }
  }


.cardBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  gap: 10px;
}

.orderBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
