.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labelText {
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    margin: 10px 0;
}

.inputText {
    height: 15px;
    background: #FFFFFF;
    border: 1px solid #ae4949;
    border-radius: 3px;
    padding: 5px 5px; 
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    outline: none;
    margin-bottom: 2px;
    cursor: pointer;

    &:hover {
        border-color: #62c28f;
    }

    &::placeholder {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #BEBEBE;
    }

    &:focus {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
        cursor: auto;
    }
}

.err {
    color: red;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}


