.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-width: 30%;
    height: 400px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(217, 141, 141);
    transition: .5s;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    }
}

.favouritesWrap {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.favourites {
    width: 20px;
    height: 20px;
    svg path {
        fill: white;
    }

    &.active {
        svg path {
            fill: yellow;
        }
    }
}

.card {
    width: 100%;
    height: 100%;
}

.img {
    max-width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

.caption {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    color: black;
}

.infoWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}

.info, 
.desc {
    font-size: 16px;
    font-weight: 500;
    color: black;
}


