.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(123, 173, 157);
    box-shadow: 1px 5px 5px rgb(162, 195, 188);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    span {
        font-size: 20px;
        font-weight: 700;
    }

    div {
        font-size: 16px;
        font-weight: 400;
        position: relative;

        span {
            position: absolute;
            top: -23px;
            left: 17px;
        }
    }
}

.wrap {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    div {
        width: 22px;
        height: 22px;
        cursor: pointer;
        
        svg {
            width: 22px;
            height: 22px;
            path {
                fill: black;
            }
        } 
    
    }
}

.linkPage {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    transition: transform ease 0.5s;

    &:hover {
        transform: scale(1.2);
    }

    &.isActive {
        opacity: 0.3;
        cursor: default;


        &:hover {
            transform: none;
        }
    }
}

.nav { 
    display: flex;
    gap: 50px;
}