.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 49%;
    height: 400px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(217, 141, 141);
}

.favouritesWrap {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.favourites {
    width: 20px;
    height: 20px;
    svg path {
        fill: white;
    }

    &.active {
        svg path {
            fill: yellow;
        }
    }
}

.imageWrap {
    max-width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
}

.caption {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    color: black;
}

.infoWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}

.info, 
.desc {
    font-size: 16px;
    font-weight: 500;
    color: black;
}


@media (max-width: 870px) { 
    .wrapper {
        width: 70%;
    } 
}


@media (max-width: 760px) { 
    .wrapper {
        width: 100%;
    } 
}


