.form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 300px;
    max-height: 560px;
    border: 2px solid rgb(211, 125, 125);
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.btnSubmit {
    display: block;
    width: 120px;
    height: 36px;
    padding: 0 15px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    transition: .3s;
    color: #FFFFFF;
    border: none;   
    outline: none; 
    background-color: rgb(123, 173, 157);
    margin: 20px 0;
    cursor: pointer;

    &:hover {
        background-color: rgb(70, 223, 144);
    }
}

.disabled {
    background-color: black;
    opacity: 0.2;
    pointer-events: none;
}

